.catalog {
  background-color: $grey-lightest;
  padding: 50px 0 44px;

  @media(min-width: $tablet-width) {
    padding: 80px 0 90px;
  }

  @media(min-width: $desktop-width) {
    padding: 100px 0 120px;
  }
}

.catalog__hint {
  margin-bottom: 4px;
}

.catalog__title {
  margin-bottom: 20px;

  @media(min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__list {
  @include list-style;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 349px 349px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 317px 317px 317px;
  }
}

.catalog__filter-group {
  border: none;
  padding: 0;
}

.catalog__filter-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.catalog__range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__range-input-separator {
  width: 9px;
  height: 2px;
  background-color: $grey
}

.catalog__range-input {
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 7px 10px;
  width: 118px;

  &::placeholder {
    color: $grey;
  }

  &:focus {
    outline: none;
    border-color: $primary-darker;
  }

  &:disabled {
    border-color: $grey-light;
  }
}

.catalog__range-scale {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: $grey-light;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.catalog__range-bar {
  position: absolute;
  height: 4px;
  background-color: $primary-lighter;
}

.catalog__range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $white;
  border: 2px solid $white;
  cursor: pointer;
  padding: 0;
  box-shadow: 0 0 0 2px $primary-lighter;
  transition: all 0.2s ease-out;

  &--min {
    left: -12px;
    top: -9px;
  }

  &--max {
    left: 95%;
    top: -9px;
  }

  &:focus-visible,
  &:hover {
    outline: none;
    background-color: $primary-lightest;
  }

  &:active {
    background-color: $primary;
    box-shadow: 0 0 0 2px $primary;
  }

}

.catalog__filter-list {
  @include list-style;
}

.catalog__filter-item {
  margin-bottom: 21.5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.catalog__control {
  position: relative;
  cursor: pointer;

  &--radio {
    padding-left: 34px;
  }

  &--checkbox {
    padding-left: 52px;
  }
}

.catalog__label {
  font-size: 16px;
  line-height: 24px;
}

.catalog__radio-mark {
  position: absolute;
  margin-left: -34px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $white;
  border: 2px solid $grey;
  transition: all 0.2s ease-out;
}

.catalog__radio-mark::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: inherit;
  transition: all 0.2s ease-out;
}

.catalog__input:hover + .catalog__radio-mark {
  border-color: $primary;
}

.catalog__input:hover + .catalog__radio-mark::after {
  background-color: $secondary;
}

.catalog__input:checked + .catalog__radio-mark {
  border-color: $primary;
}

.catalog__input:checked + .catalog__radio-mark::after {
  background-color: $primary;
}

.catalog__input:checked:disabled + .catalog__radio-mark {
  border-color: $grey;
}

.catalog__input:checked:disabled + .catalog__radio-mark::after {
  background-color: $grey-light;
}

.catalog__input:checked:disabled ~ .catalog__label {
  color: $grey-light;
}

.catalog__input:disabled + .catalog__radio-mark {
  border-color: $grey-light;
}

.catalog__input:disabled ~ .catalog__label {
  color: $grey-light;
}

.catalog__input:disabled:hover + .catalog__radio-mark {
  border-color: $grey-light;
}

.catalog__input:disabled:hover ~ .catalog__label {
  color: $grey-light;
}

.catalog__input:disabled:hover + .catalog__radio-mark::after {
  background-color: $white;
}

.catalog__checkbox-mark {
  position: absolute;
  margin-left: -52px;
  width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: $grey;
  border: 2px solid $grey;
  transition: all 0.2s ease-out;
}

.catalog__checkbox-mark::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $white;
  transition: all 0.2s ease-out;
}

.catalog__input:focus + .catalog__checkbox-mark,
.catalog__input:hover + .catalog__checkbox-mark  {
  border-color: $primary;
  background-color: $primary-lightest;
}

.catalog__input:checked + .catalog__checkbox-mark {
  background-color: $primary;
  border-color: $primary;
}

.catalog__input:checked + .catalog__checkbox-mark::after {
  left: 18px;
}

.catalog__input:disabled + .catalog__checkbox-mark {
  background-color: $grey-light;
  border-color: $grey-light;
}

.catalog__input:checked:disabled + .catalog__checkbox-mark::after {
  background-color: $grey;
  left: 18px;
}
