.nav__list {
  @include list-style;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.nav__link {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 0;
  margin-bottom: 4px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 14px 21px;
  }

  &:hover {
    color: $black-hover;
  }

  &:active {
    color: $black-active;
  }
}
