.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: $beige;
  color: $black;
  display: flex;
  flex-direction: column;
}
