// Colors
$black: #333333;
$black-hover: #5c5c5c;
$black-active: #858585;
$white: #FFFFFF;
$white-smoke: #F8F8F8;
$purple: #7859CF;
$beige: #F3EBE1;

// Vewports
$tablet-width: 768px;
$tablet-max-width: 1439;
$desktop-width: 1440px;
$mobile-width-only: 767px;
