// Colors
$black: #333333;
$white: #FFFFFF;
$grey: #BDBDBD;
$grey-light: #E2E2E2;
$grey-lightest: #F8F8F8;
$primary: #7859CF;
$primary-lightest: #DDD6F3;
$primary-lighter: #9070EC;
$primary-darker: #593CAC;
$secondary: #F0EBFF;
$flat-white: #F3EBE1;
$lavender-latte: #EAE6FC;
$espresso: #E5E6E8;

// Vewports
$tablet-width: 768px;
$tablet-max-width: 1439;
$desktop-width: 1440px;
$mobile-width-only: 767px;
